<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Custom Footer-->
    <add key="customFooterEmail" value=".\CustomFooter.html" />
    <add key="customFooterDetail" value=".\CustomFooter.html" />
    <add key="smtpServer" value = "smtp.gmail.com"/>
    <add key="smtpPort" value = "465"/>
	<add key="smtpUsername" value = "erangawarna@gmail"/>
	<add key="smtpPassword" value = "EDRaws#123"/>
    <add key="fromAddress" value = "erangawarna@gmail.com"/>
    <add key="smtpSSL" value = "false"/>
    <add key="subjectLine" value = "Automatic Test report in Production"/>
    <add key="toAddress" value = "eranga@moogilu.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
